#navbar{
    background-color: blue;
    color: white;
}

#thicc{
    cursor: pointer;
}

#color{
    cursor: pointer;
}

svg{
    background-color: pink;
    cursor:pointer;
}

line{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

rect{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

circle{
    fill:none;
    stroke: black;
    stroke-width: 3;
}