#navbar{
    background-color: blue;
    color: white;
}

#thicc{
    cursor: pointer;
}

#color{
    cursor: pointer;
}

svg{
    background-color: pink;
    /* cursor:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg"),auto; */
    cursor: pointer;
}

/*selectat*/
.on{
    fill:black
}

line{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

rect{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

circle{
    fill:none;
    stroke: black;
    stroke-width: 3;
}